@page "/pets"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using PawPal.Models
@using PAWPAL.Data
@implements IAsyncDisposable
@inject IDbContextFactory<PAWPAL.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="pets/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Pet">
    <PropertyColumn Property="pet => pet.Name" />
    <PropertyColumn Property="pet => pet.Breed" />
    <PropertyColumn Property="pet => pet.Age" />
    <PropertyColumn Property="pet => pet.ImageUrl" />
    <PropertyColumn Property="pet => pet.Description" />
    <PropertyColumn Property="pet => pet.ShelterId" />

    <TemplateColumn Context="pet">
        <a href="@($"pets/edit?id={pet.Id}")">Edit</a> |
        <a href="@($"pets/details?id={pet.Id}")">Details</a> |
        <a href="@($"pets/delete?id={pet.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
